<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pofeng.iFish.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.pofeng.iFish.domain.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="oldprice" property="oldprice" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pofeng.iFish.domain.Goods" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, tid, uid, createtime, pic, price, flag, oldprice
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pofeng.iFish.domain.Goods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_goods (name, tid, uid, 
      createtime, pic, price, 
      flag, oldprice, info
      )
    values (#{name,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{pic,jdbcType=VARCHAR}, #{price,jdbcType=BIGINT}, 
      #{flag,jdbcType=INTEGER}, #{oldprice,jdbcType=BIGINT}, #{info,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pofeng.iFish.domain.Goods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="oldprice != null" >
        oldprice,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="oldprice != null" >
        #{oldprice,jdbcType=BIGINT},
      </if>
      <if test="info != null" >
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pofeng.iFish.domain.Goods" >
    update t_goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="oldprice != null" >
        oldprice = #{oldprice,jdbcType=BIGINT},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pofeng.iFish.domain.Goods" >
    update t_goods
    set name = #{name,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      pic = #{pic,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      flag = #{flag,jdbcType=INTEGER},
      oldprice = #{oldprice,jdbcType=BIGINT},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pofeng.iFish.domain.Goods" >
    update t_goods
    set name = #{name,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      pic = #{pic,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      flag = #{flag,jdbcType=INTEGER},
      oldprice = #{oldprice,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>